@font-face {
    font-family:"Vina";
    src: url(font/VinaSans-Regular.ttf);
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
*{
    margin: 0px;
    padding: 0px;
}
img{
    width:100%;
}
.green{
    color : #298709;
}
.dres-text{
    font-size: 15px;
}
#lopte{
    background-image:url("images/lopte.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 24%;
    width: 48%;
}
#jordanretro{
    background-image:url("images/jordanretro.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 5%;
    width: 48%;
}
#lopte h3,#jordanretro h3{
    font-size: 120px !important;
    font-family: Vina;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.8);
}
.container90{
    width: 95%;
    margin: 0px auto;
}
#beograd{
    background-image: url("images/beogard.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32%;
}
#podgorica{
    background-image: url("images/podgorica.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32%;
}
#bec{
    background-image: url("images/bec.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32%;
}
.tamno{
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 20%;
    padding-bottom: 20%;
    width: 100%;
}
.tamno h3,p{
    text-align: center;
}
#mesta{
    font-size: 50px;
}
.modalnone{
    display: none;
}
.modalblock{
    display: block;
}
#modalRegistracija,#modalPrijava{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 10;
    position: fixed;
    overflow-y: auto;
}
/* form{ */
/* } */
.overflow{
    overflow-y: hidden;
}
button{
    border: none;
}
.input{
    padding-left: 1%;
}
#polm,#polz{
    accent-color: black;
}
.iks{
    float:right;
}
button{
    background-color: transparent;
}
#poltext{
    width:9%;
    margin-left: 12.5%;
    margin-top: 1%;
}
#polradio{
    width: 15%;
    margin-top: 1.5%;
}
.borderred{
    border: 2px solid red;
}
.bordergreen{
    border: 2px solid green;
}
.accent-color{
    accent-color: red;
}
#footerholder{
    width: 85%;
}
footer h3{
    color: white;
}
footer ul{
    list-style-type:none;
}
footer ul li a,#links a{
    text-decoration: none;
    color: white;
}
#Autor{
    width: 80%;
}
#loader{
    position: fixed;
     z-index: 100;
    background: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: 500ms all;
    align-items: center;
}
#loader img{
    width: 100px;
    margin: 0px auto;
    animation: spin 2s linear infinite;
}